.dashboard-container {
  text-align: center;
  margin-top: 50px;
  border-radius: 8px;
}

.role-buttons button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  background: #3c009d;
  color: #fff;
}
